@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 19, 40;
  --background-end-rgb: 0, 0, 0;
}

.fc-daygrid-block-event,
.fc-event-time,
.fc-event-title {
  padding: 4px;
  white-space: normal;
}

.fc-col-header-cell {
  background: #072944;
}

.fc-h-event {
  background-color: #483C8A;
}